:root {
  --blue: #2196f3;
  --grey: #757575;
  --white: #fff;
  --black: #000;
  --dark-bg: #2f303a;
  --light-bg: #f5f4fa;
  --font-color: #212121;
  --portfolio-line: #ececec;
  --card-border: #eeeeee;
  --footer-contacts: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0px 0px 0px 0px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  color: var(--font-color);
}

/*header*/

.main-info {
  display: inline-block;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.logo {
  color: var(--black);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 24px;
}

.blue-text {
  color: var(--blue);
}

.link-item {
  display: inline;
  font-weight: 500;
  font-size: 14px;
  padding: 65px 25px 25px 25px;
}

.nav-link {
  font-size: 14px;
}

.nav-link:hover {
  color: var(--blue);
}

.contact-us {
  margin-top: 32px;
}

.contact {
  display: inline;
  color: var(--grey);
  font-weight: 500;
}

.top-bar {
  background-color: var(--dark-bg);
}

.title {
  width: 650px;
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  color: var(--white);
  margin-bottom: 115px;
}

.primary-button {
  width: 200px;
  background-color: var(--blue);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  color: var(--white);
  margin-top: 115px;
}

.primary-button:hover {
  cursor: pointer;
}

/* Main part*/

.features-list {
  list-style-type: none;
  width: 1170px;
}

.features-element {
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
  width: 270px;
}

.feature-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.feature-description {
  width: 250px;
  margin-top: 10px;
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

/* Service */

.service-title {
  font-size: 36px;
  font-weight: 700;
}

.service-list {
  padding-top: 90px;
  width: 1170px;
  list-style-type: none;
}

.service-element {
  margin-left: 15px;
  margin-right: 15px;
}

/* Team */

.team {
  background-color: var(--light-bg);
}

.team-title {
  margin-top: 102px;
  font-size: 36px;
}

.team-list {
  list-style-type: none;
  margin-top: 194px;
  margin-left: 0px;
  padding-left: 0px;
  width: 1170px;
}

.team-item {
  width: 270px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 1px 2px 1px var(--grey);
}

.teammate-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.teammate-position {
  font-size: 16px;
  color: var(--grey);
  margin-top: 5px;
}

/* Footer */

.page-footer {
  background-color: var(--dark-bg);
}

.footer-content {
  padding-top: 30px;
  margin-left: 215px;
  color: var(--white);
}

.footer-logo {
  float: left;
  color: var(--white);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.blue-text {
  color: var(--blue);
}

.footer-contacts {
  all: initial;
  font-family: inherit;
}

.foter-contact-list {
  list-style-type: none;
  padding-top: 40px;
}

.footer-address-item {
  color: var(--white);
  font-size: 14px;
  font-weight: inherit;
}

.footer-contact-item {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--footer-contacts);
  font-size: 14px;
}

/* Portfolio */

.portfolio-line {
  color: var(--portfolio-line);
  opacity: 0.2;
}

.portfolio-content {
  width: 1170px;
  padding-left: 215px;
  padding-top: 84px;
  align-items: center;
}

.portfolio-buttons {
  list-style-type: none;
  display: inline;
  padding-left: 280px;
}

.portfolio-button-item {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
}

.secondary-button {
  display: inline;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  background-color: var(--light-bg);
  font-family: inherit;
  font-weight: 500px;
  font-size: 16px;
}

.secondary-button:hover {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.portfolio-button:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.projects {
  padding-top: 30px;
  list-style-type: none;
}

.projects-card {
  width: 370px;
  margin: 15px 15px 15px 15px;
  box-sizing: border-box;
  border: 1px solid var(--card-border);
}

.projects-item-title {
  font-size: 18px;
  font-weight: 700;
  margin-left: 24px;
}

.projects-item-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  padding-left: 24px;
}
